@{
    ViewBag.Title = "Packages";
}
<p class="loader-text cmn-text"><span>Please do not refresh the page</span></p>

<main class="app-content">
    <div class="app-content-wrapper">
        <div class="app-content-inner">
            <div class="container-fluid">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-12">
                        <h4>@(beautybook.Resources.Languages.E_mail_Messaging_Packages)</h4>
                        <p class="text-muted font-weight-medium">@(beautybook.Resources.Languages.Choose_the_plan_that_s_right_for_you_)</p>
                    </div>
                </div>
                <div id="EmailPackagesLoader" style="display: none;" class="text-center mb-2 mt-2">
                    <img src='~/Content/assets/images/ajax-loader.gif' width='32px' height='32px'>
                </div>
                <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 justify-content-center text-center mt-3" id="plansdetails">

                </div>
            </div>
            <div class="container-fluid mt-5">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-12">
                        <h4>@(beautybook.Resources.Languages.Text_Messaging_Packages__SMS_)</h4>
                        <p class="text-muted font-weight-medium">@(beautybook.Resources.Languages.Choose_the_plan_that_s_right_for_you_)</p>
                    </div>
                </div>
                <div id="SMSPackagesLoader" style="display: none;" class="text-center mb-2 mt-2">
                    <img src='~/Content/assets/images/ajax-loader.gif' width='32px' height='32px'>
                </div>
                <div class="row row-cols-xl-5 justify-content-center text-center mt-3" id="plansSmsdetails">
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/Content/assets/js/jquery/jquery-3.6.0.min.js"></script>
<script src="~/Content/assets/js/popper/popper.min.js"></script>
<script src="~/Content/BeautyBookAPI/APIEndPoint.js"></script>
<script src="~/Content/BeautyBookAPI/PackagesAPI/EmailPakages/EmailPakages.js"></script>
<script src="~/Content/BeautyBookAPI/PackagesAPI/SmsPakages/SmsPakages.js"></script>
<script>
    $(document).ready(function () {
        ArbicLanguage();
        myEmailPakageslist();
        mySmsPakageslist();
    });
</script>

