@{
    ViewBag.Title = "SignIn";
    Layout = null;
}
@using BeautyBook.Common;

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metatags -->
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name=description content="">
    <meta name=keywords content="">
    <meta name=author content="">
    <title>@ViewBag.Title :: Beauty Book</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/Content/assets/images/favicons/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="mask-icon" href="~/Content/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#e94a1f">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Main Stylesheet -->
    <link href="~/Content/assets/css/main.min.css" rel=stylesheet>
    <style>
        label,
        input,
        button {
            border: 0;
            margin-bottom: 3px;
            display: block;
            width: 100%;
        }

        .common_box_body {
            padding: 15px;
            border: 12px solid #28BAA2;
            border-color: #28BAA2;
            border-radius: 15px;
            margin-top: 10px;
            background: #d4edda;
        }
    </style>
</head>
<body>
    <div class="app-root bg-white">
        <div class="app-wrapper">

            <main class="app-content">
                Payment is
            </main>
        </div>
    </div>


    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/popper/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Plugin Path -->
    <script src="~/Content/assets/js/main.js"></script>
    @*This Js Call API in SignIn*@
    <script src="~/Content/BeautyBookAPI/APIEndPoint.js"></script>
    <script src="~/Content/BeautyBookAPI/AuthenticationAPI/SignIn/SignIn.js"></script>
    <script src="~/Content/assets/js/sweetalert/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <script>
        $(document).ready(function () {
            IsPaymentComplete();
        })

        //getCookie
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        //IsPaymentComplete api call
        function IsPaymentComplete() {
            var DeviceTokenNumber = getCookie("DeviceToken&Type");
            debugger;
            $.ajax({
                type: 'POST',
                url: APIEndPoint + `/api/orders/Orders_PaymentComplete?Id=@ViewBag.OrdId`,
                headers: { 'Content-Type': 'application/json', "Authorization": '' + DeviceTokenNumber + '' },
                dataType: 'json',
                crossDomain: true,
                success: function (result) {
                    debugger;
                }, error: function (error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: error.responseJSON.Message,
                        showConfirmButton: false,
                        timer: 1000
                    });
                }
            });
        }
    </script>
</body>
</html>
